name: Rastreador Amazon

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependencias
        run: |
          pip install -r requirements.txt

      - name: Ejecutar Rastreador
        run: python main.py

      # --- NUEVO PASO MÁGICO ---
      # Si se generan imágenes de error (screenshots), súbelas para que yo las vea
      - name: Subir Evidencias Visuales
        if: always() 
        uses: actions/upload-artifact@v4
        with:
          name: evidencias-precios
          path: "*.png"   # Subirá todas las fotos .png que encuentre
          retention-days: 5

      - name: Guardar CSV
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'action@github.com'
          git add historial_precios.csv
          git commit -m "Update precios" || echo "Nada nuevo"
          git push
